:after, :before {
  box-sizing: border-box!important;
}
/* Tooltip CSS */
.tooltip {
    position: relative;
    background: #000000;
    padding: 0 4px;
    margin: 5px;
    font-size: 14px;
    border-radius: 100%;
    color: #FFF;
  }
  
  .tooltip:before,
  .tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
    visibility: hidden;
  }
  
  .tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
    top: -15px;
    transform: translateY(20px);
  }
  
  .tooltip:after {
    content: attr(data-tooltip);
    background: #000000;
    width: max-content;
    height: fit-content;
    font-size: 13px;
    font-weight: 300;
    top: -50px;
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
  }
  
  .tooltip:hover::before,
  .tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
    visibility: visible;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    70% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  #anim:hover {
    animation: shake 500ms ease-in-out forwards;
  }

.shortcode_input{
  position: relative;
}
.copy-button {
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.29);
  border-bottom-color: rgba(0, 0, 0, 0.36);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.copy-button:before {
  content: '';
  display: none;
  position: absolute;
  z-index: 9998;
  top: 4px;
  right: 60px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.72);
}
.copy-button:after {
  content: 'Copy to Clipboard';
  display: none;
  position: absolute;
  z-index: 9999;
  top: -32px;
  right: 37px;
  width: 114px;
  height: 36px;
  color: #fff;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  background: rgba(0, 0, 0, 0.72);
  border-radius: 3px;
}
.copy-button:hover {
  background-color: #eee;
}
.copy-button:hover:before, .copy-button:hover:after {
  display: block;
}
.copy-button:active, .copy-button:focus {
  outline: none;
}
.copy-button:active:after, .copy-button:focus:after {
  content: 'Copied!';
}
  